.center {
  float: none;
  margin: 0 auto;
  text-align: center;
}

.justify {
  float: none;
  margin: 0 auto;
  text-align: justify;
}

body {
  background-color: white;
  background-image: url("/images/starbackground.png");
  color: #FFF;
  font-family: 'Arimo', Helvetica, sans-serif;
  font-size: 14px;
}

h1 {
  font-weight: 700;
}

.highlight {
  font-style: italic;
  color: #BBB;
}

.bottom-large-spacer {
  padding-bottom: 60px;
}

.bottom-med-spacer {
  padding-bottom: 40px;
}

.bottom-small-spacer {
  padding-bottom: 20px;
}

.top-xsmall-spacer {
  padding-top: 10px;
}

.top-small-spacer {
  padding-top: 20px;
}

.top-med-spacer {
  padding-top: 40px;
}

.top-large-spacer {
  padding-top: 60px;
}

.links a {
  color: #FFF;
}
